@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}

body{
	background: #191919;
	color: whitesmoke;
}

.header{
  height: 100px;
  background: #202020;
  padding: 0 20px;
  color: #fff;
  z-index: 2;
}
.logo{
  line-height: 100px;
  float: left;
  letter-spacing: 2px;
}

.text{
  font-size: 24px;
  line-height: 100px;
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}

img.logo {
  max-height: 150px;
  max-width: 150px;
  height: auto;
  width: auto;
  display: flex;
  margin-top: 2%;

  border-radius: 100px;
  -webkit-box-shadow: #161616 10px 10px 10px;
 box-shadow: #161616 10px 10px 10px;
  border-radius: 100px;
}

img.logo:hover {
  -webkit-animation: rotate ease 2s;
          animation: rotate ease 2s;
}


.menu{
  float: right;
  line-height: 100px;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #EDE10053;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.container {
  padding-top: 25px;
  padding-bottom: 80px; 
  width: 100%;
  margin: auto;
  background: url('/src/imagens/background_1.png');
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-auto { height: auto; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}

.btn-convite{
    font-size: 14px;
    font-weight: bold;
    background: #FF005E;
    width: 100px;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.btn-convite:hover, .btn-convite:focus, .btn-convite:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}

/* KEY FRAMES */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

